<h3>{{ firstName }}</h3>
<h3>{{ lastName }}</h3>

{{#if booleanVar}}
    <p>Helper if (context: block) | true</p>
    {{else}}
    <p>Helper if (context: block) | false</p>
{{/if}}

<ul>
    {{#each testMas as |person index|}}
        <li>{{ person.name }}, index: {{ index }}</li>
    {{/each}}
</ul>

<span>Checking</span>

{{outlet}}